!!!
html
  head
    title Cozy - Agenda
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible",content="IE=edge,chrome=1")
    meta(name="viewport", content="width=device-width,initial-scale=1.0")
    script(src="javascripts/modernizr-2.6.1.js")
    link(rel="stylesheet", href="stylesheets/app.css")

  body.public
    #container.container.well
      h1 RSVP for #{event.description}
      h2 #{event.place}


      if visitor.status == 'RSVP'

        p: a.btn(href="?status=ACCEPTED&key="+key) accept
        p: a.btn(href="?status=DECLINED&key="+key) deny

      else if visitor.status == 'ACCEPTED'
        h3 Your status is #{visitor.status}
        p: a.btn(href="?status=DECLINED&key="+key) Change to DECLINED

      else
        h3 Your status is #{visitor.status}
        p: a.btn(href="?status=ACCEPTED&key="+key) Change to ACCEPTED

