// Base Styles

blue = #34A6FF
lightblue = #CBE4FB
greyblue = #34A6BB
green = #5C5
orange = #fe8800
lightorange = #FFC47F
darkgrey = #333
lightgrey = #CCC
grey = #AAA
red = #DD3333


@font-face
    font-family: styled
    src: url('../fonts/maven-pro-light-300.otf')

@font-face
    font-family: main
    src: url('../fonts/signika-regular.ttf')

@font-face
    font-family: fontawesome
    src: url('../fonts/fontawesome-webfont.ttf')

html,
body
    height 100%
    width 100%

body
    text-rendering optimizeLegibility
    background-image: url('../img/background.jpg')

body,
input
    color #444
    font 300 16px Geneva, Verdana, "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif
    line-height 1.2

a,
a:visited
    color #0086cc
    text-decoration none

    &:hover
        text-decoration underline

/* FIXING BOOTSTRAP */
body.modal-open, .modal-open .navbar-fixed-top, .modal-open .navbar-fixed-bottom
  margin-right: 0

textarea:hover,
input[type="text"]:hover,
textarea:active,
input[type="text"]:active,
textarea:focus,
input[type="text"]:focus
a:focus,
.btn:focus
     outline:0px !important
     -webkit-appearance:none


