// Base Styles

blue = #34A6FF
lightblue = #CBE4FB
greyblue = #34A6BB
green = #5C5
orange = #fe8800
lightorange = #FFC47F
darkgrey = #333
lightgrey = #CCC
grey = #AAA
red = #DD3333


@font-face
    font-family: styled
    src: url('../fonts/maven-pro-light-300.otf')

@font-face
    font-family: main
    src: url('../fonts/source-sans-pro.ttf')

@font-face
    font-family: fontawesome
    src: url('../fonts/fontawesome-webfont.ttf')


html,
body
    height: 100%
    width: 100%
    padding: 0

body
    text-rendering: optimizeLegibility
    background-image: url('../img/background.jpg')

body,
input
    color: darkgrey
    font 300 16px Geneva, Verdana, "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif
    line-height 1.2

h2
    font-family: styled

a,
a:visited
    color #0086cc
    text-decoration none

    &:hover
        text-decoration underline

[aria-hidden=true]
    display: none !important

/* fixing bootstrap */

body.modal-open, .modal-open .navbar-fixed-top, .modal-open .navbar-fixed-bottom
  margin-right: 0

textarea:hover,
input[type="text"]:hover,
textarea:active,
input[type="text"]:active,
textarea:focus,
input[type="text"]:focus
a:focus,
.btn:focus
     outline:0px !important
     -webkit-appearance:none

.well
    border-radius: 0
    background: white
    box-shadow: none
    border: 0

.btn
    border: 0
    background: blue
    color: white
    box-shadow: none
    text-shadow: none
    border-radius: 0
    font-family: main
    font-weight: bold
    border-radius: 4px

.badge
    background #f5f5f5

.badge-info
    background blue
    color white

.btn:hover
    background: orange
    color: white
    border-color: orange
    text-shadow: none

.form-horizontal
    .control-group
        margin-bottom: 10px

    margin-bottom: 0 !important

    .control-label
        font-size: 13px
        width: 100px
    .controls
        margin-left: 120px

        .add-on i
            margin-top: 2px !important

.helptext
    font-family: main
    padding: 10px 20px

.info
    font-size: 12px
    color: #777

.datepicker
    z-index 1150

.showafter
.showbefore
    margin: 0px 20px 20px 20px

.main-container
    box-sizing: border-box
    margin-left: 200px
    border: 0
    width: auto
    background: white

.container
    margin: 0

input[type="date"]
  width: 150px

input[type="time"]
  width: 75px
