@import 'nib'

@import '_base'
@import '_ui'


/**
 * Vars
 */
overlay-color = #F5F5F5
opacity-color = #C5C5C5
icon-color    = #333
input-color   = #555

/**
 * Styles for the calendar popover (event and alarm creation/edition)
 */
// TODO: rebuild all styles with relative units. Need to revamp a whole bunch of
//       the app styles
.popover
    width: 400px
    max-width: none
    padding: 0
    font-family: styled

    label
    .label
        box-sizing: border-box
        margin: 0
        padding: 5px 0 0
        background-color: transparent
        border: medium none

    input
        box-sizing: border-box
        margin: 0px
        border: 1px solid white
        border-radius: 0
        box-shadow: none !important

        &:hover
            border: 1px solid orange

        &:focus
            border: 1px solid blue

        &[type=text]
            width: 100%
            height: 1.8em

    input[type=text].input-time
        width: 4em
        text-align: right

    input[type=text].input-date
        width: 8em


.controls
    position: absolute
    top: 8px
    right: 8px

    [role=button]
        display: block
        float: right
        clear: right
        width: 14px
        height: 14px
        line-height: 14px
        padding: 0
        margin: 0 0 14px
        cursor: pointer

    .close
        color: icon-color
        opacity: 0.7


.popover-title
    padding: 10px 0 5px
    background-color: white
    border-bottom: 1px solid overlay-color
    font-size: 18px

    .label
        width: 100%
        padding: 0 24px 2px

    .calendar
        position: absolute
        top: 10px    // vertical badge alignment with desc input
        left: 8px

        .badge
            margin: 0

        .calendarcombo
            display: none

            &.expanded
                display: inline-block
                margin-left: 5px

    .input-desc
        font-size: 1.4em


.popover-content
    padding: 0

    label
        float: left
        clear: left
        display: flex
        align-items: baseline

    .caption
        display: inline-block
        min-width: 3em

    // Specific rules for elements
    .input-allday
        margin-right: 5px

    .aside
            float: right
            clear: none

    .end-date
        clear: none

        .caption
            min-width: inherit


.popover-content-wrapper
    padding: 5px 10px
    overflow: hidden

    &.is-same-day .end-date
    &.is-same-day .end-date input
        color: opacity-color

        &:hover
        &:focus
            color: input-color

    &.is-all-day .end-date
    &.is-all-day .end-date input
        color: input-color


.popover-footer
    padding: 10px
    background-color: overlay-color
    border-radius: 0 0 5px 5px
    display: flex
    justify-content: flex-end
    align-items: baseline

    [role=button]
        margin-left: 1em
        font-size: 0.85em


/**
 * Styles for the fullcalendar plugin
 */

.fc-button-prev, .fc-button-next, .fc-button-today,
.fc-button-month, .fc-button-week, .fc-button-agendaWeek
.fc-button-day, .fc-button-agendaDay, .fc-button-list

    border-color: transparent
    background: transparent
    color: blue
    box-shadow: none
    text-shadow: none
    padding-bottom: 3px
    font-family: main

    &:hover
        background: transparent
        color: orange

        &.fc-state-disabled
            background: blue

    &:active
        background: blue + 80%
        cursor: default
        color: blue

    &.fc-button-today.fc-state-disabled
    &.fc-state-active
        background: blue + 80%
        color: blue + 20%
        border-radius: 4px
        cursor: default

    &.fc-button-today.fc-state-disabled:hover
    &.fc-state-active:hover
        color: blue + 20%
        border-radius: 4px
        color: blue

.fc-view-container
    clear:none

    thead
        tr
            th
                height: 30px
                line-height: 30px
                border: none

                &:first-child
                    border-radius: 10px 0 0 0

                &:last-child
                    border-radius: 0 10px 0 0

    tbody
            .fc-state-highlight
                background: lightblue

    .fc-content .fc-time

        &.spinning
            display: inline-block
            margin: 3px

.fc-cell-overlay
    background: green


.fc-header
    cursor: default
    width 100%

.fc-header-title

    h2
        font-weight: normal

.fc-header-title h2
    margin-top: 0px
    white-space: nowrap


.fc-header td
    border-style: none

.fc-header .fc-button
    margin-bottom: 1em
    vertical-align: top

.fc-header-right
    text-align: right

.fc-text-arrow
    margin: 0px 0.1em
    font-size: 2em
    font-family: "Courier New",Courier,monospace
    vertical-align: baseline

.fc-button
    position: relative
    display: inline-block
    padding: 0px 0.6em
    overflow: hidden
    height: 1.9em
    line-height: 1.9em
    white-space: nowrap
    cursor: pointer


.fc-title,
.fc-view-container

    thead
    thead > tr.fc-first
    .fc-day-header
    .fc-widget-header
        font-family: styled
        border-radius: 0
        color: black
        cursor: default
        font-weight: normal

.fc-agenda-axis
    background: white
    color: darkgrey

.fc-agenda-axis.fc-first
    background: white
    border-radius: 0
    color: white

.fc-day-number
    font-family: styled

.fc-content
    border: 0
    border-radius: 0
    color: white
    font-family: main
    font-weight: bold
    padding: 1px

    i
        margin-top: 2px
        margin-right: 5px


.fc-day:hover
    background: orange + 80%

.alarm-remove
    cursor: pointer

.event-remove
    cursor: pointer

.fc-widget-content
.fc-cell-overlay
    cursor: pointer

.fc-view
    overflow: visible

#view-container .fc-view-container .fc-cell-overlay
    background: #CBE4FB

#view-container .fc-view-container tbody .fc-state-highlight
    background: #CCF0CC

.fc-event:hover
    background: orange !important


td.fc-widget-header
    border-style: none

.fc-row .fc-content-skeleton td, .fc-row .fc-helper-skeleton td
    border-color: #DDD

#alarms
    thead
        .fc-first
            .fc-day-header
            .fc-widget-header
                border-bottom: 1px solid #DDD

a.btn:visited
    color: white

#add-alarm

    input
    select
        border: 1px solid lightgrey
        box-shadow: 0
        border-radius: 0px
        shadow: none
        font-family: styled, helvetica

    input.disabled
        border: 1px solid transparent

    input:hover
    select:hover
        border: 1px solid orange
        border-radius: 0px
        shadow: inset 1px 1px 2px rgba(100, 100, 100, 0.1)
        color: #333

    input:focus
    input:active
    select:active
    select:focus
        border: 1px solid blue
        box-shadow: none

    .add-on
        border-radius: 0

    .datepicker td.day:hover
        background: lightorange

    .bootstrap-timepicker-widget table td a:hover
        background: lightorange
        border: 1px solid transparent

    #alarm-description-input
        font-size: 24px
        line-height: 40px
        height: 40px

    button.add-alarm.disabled
      border: 1px solid grey

    button.add-alarm
        float: left
        margin-top: 10px

    button.cancel
        margin-left: 5px
        margin-top: 10px

.dayprogram
  border-bottom: 1px solid rgba(0, 0, 0, 0.05)
  padding-bottom: 15px
  margin-bottom: 15px

  h2
    i
      margin-top 10px
      margin-left 10px
      display none
      cursor pointer
  &:hover h2 i
      display inline-block

  .alarms
    margin-top: 15px

    p
      line-height: 20px

      i
        margin: 3px 5px
        display: none
        line-height: 14px
        height: 14px
        cursor: pointer
      &:hover i
        display: inline-block

.dayprogram:nth-last-child(1)
  border-bottom: 0
  padding-bottom: 0

.public-event-container
    width: 100%

    h2
    h3
    h4
    p
    a
    body
        font-family: styled

    h3
        margin-top: 0
