@import 'nib'

@import '_base'
@import '_ui'

/* Styles for the calendar popover (event and alarm creation/edition) */

.popover
    max-width: none
    width: 400px

    .timeseparator
        display: inline-block
        margin-bottom: 10px
        vertical-align: middle

    .popover-title
        font-weight bold

        button
            margin-top: -4px

        a
            font-weight normal
            font-size 0.8em
            cursor pointer

        .remove
            float: right
            margin-right: 20px
            margin-top: -2px
            display: inline-block

        #calendarcombo
            transition 0s
            display inline-block
            border-color transparent
            width 1px
            height 1em
            overflow hidden
        #calendarcombo.expanded
            transition 0.1s
            width 132px
            border-width 1px


    .popover-content
        font-family: styled
        padding: 0

        .line:first-child
            padding-bottom: 0px
            
        .line
            padding: 10px

        a.advanced-link
            margin-left 10px

        .popover-footer
            text-align: right
            background: #F5F5F5
            padding: 5px
            border-bottom-left-radius: 5px
            border-bottom-right-radius: 5px

        .nav-tabs
            li
                a
                    font-size: 16px
                    cursor: pointer
                a:hover
                    background: lightorange
                    color: #333
            li.active
                a:hover
                    background: white
                    color: #333

        #input-start, #input-end, #input-time
            width: 3em

        #input-diff
            width: 35px

        #input-place
            min-width: 120px

        #showmap
            position: relative
            display: inline-block
            top: -5px
            left: -20px
            padding: 0px 1px 1px 0px
            border-radius: 10px

        .badge
            margin-bottom: 10px
            margin-left: 5px
            line-height: 20px
            vertical-align: middle
            cursor: pointer

            i
                margin-top: 0px

            &:hover
                background: orange

        #toggle-type, i.remove
            cursor: pointer
            margin 5px 0px 0px 5px



        button
            margin-left: 5px

            &.disabled
                border: 1px solid grey

                &:hover
                    background: #e6e6e6
                    color: #333

        p
            font-size: 12px
            margin-left: 5px

        a
            font-size 12px

    input
    select
    textarea
        font-family: styled
        margin-left: 5px
        border-radius: 0
        box-shadow: 0
        border: 1px solid transparent

    input:hover
    select:hover
        border: 1px solid orange

    input:active
    select:active
    input:focus
    select:focus
        box-shadow: none


/* Styles for the fullcalendar plugin */

.fc-button-prev, .fc-button-next, .fc-button-today,
.fc-button-month, .fc-button-week, .fc-button-agendaWeek
.fc-button-day, .fc-button-agendaDay, .fc-button-list

    border-color: transparent
    background: transparent
    color: blue
    box-shadow: none
    text-shadow: none
    padding-bottom: 3px
    font-family: main

    &:hover
        background: transparent
        color: orange

        &.fc-state-disabled
            background: blue

    &:active
        background: blue + 80%
        cursor: default
        color: blue

    &.fc-button-today.fc-state-disabled
    &.fc-state-active
        background: blue + 80%
        color: blue + 20%
        border-radius: 4px
        cursor: default

    &.fc-button-today.fc-state-disabled:hover
    &.fc-state-active:hover
        color: blue + 20%
        border-radius: 4px
        color: blue

.fc-content
    clear:none

    thead
        background: blue
        color: #fff

        tr
            th
                height: 30px
                line-height: 30px
                border: none

                &:first-child
                    border-radius: 10px 0 0 0

                &:last-child
                    border-radius: 0 10px 0 0

    tbody
            .fc-state-highlight
                background: lightblue

    .fc-event-inner .fc-event-time

        &.spinning
            display: inline-block
            margin: 3px

.fc-cell-overlay
    background: green


.fc-header
    cursor: default
    width 100%

.fc-header-title

    h2
        font-weight: normal

.fc-title, .fc-content

    thead
    thead > tr.fc-first
    .fc-day-header
    .fc-widget-header
        font-family: styled
        background: white
        border-radius: 0
        color: black
        cursor: default
        font-weight: normal

.fc-agenda-axis
    background: white
    color: darkgrey

.fc-agenda-axis.fc-first
    background: white
    border-radius: 0
    color: white

.fc-day-number
    font-family: styled

.fc-event-inner
    border: 0
    border-radius: 0
    color: white
    font-family: main

.fc-day:hover
    background: orange + 80%

.alarm-remove
    cursor: pointer

.event-remove
    cursor: pointer

.fc-widget-content
.fc-cell-overlay
    cursor: pointer

.fc-view
    overflow: visible

#view-container .fc-content .fc-cell-overlay
    background: #CBE4FB

#view-container .fc-content tbody .fc-state-highlight
    background: #CCF0CC

#view-container .fc-event-inner:hover
    color: white
    background: orange
    border: 0

#alarms
    thead
        .fc-first
            .fc-day-header
            .fc-widget-header
                border-bottom: 1px solid #DDD

a.btn:visited
    color: white

.popover
    padding: 0

.popover-title
    color: white
    background-color: white
    color: #333
    border: 0
    font-family: styled
    font-size: 18px
    margin-top: 5px

    .close
        color: #333
        opacity: 0.7

.popover-content


#add-alarm

    input
    select
        border: 1px solid lightgrey
        box-shadow: 0
        border-radius: 0px
        shadow: none
        font-family: styled, helvetica

    input.disabled
        border: 1px solid transparent

    input:hover
    select:hover
        border: 1px solid orange
        border-radius: 0px
        shadow: inset 1px 1px 2px rgba(100, 100, 100, 0.1)
        color: #333

    input:focus
    input:active
    select:active
    select:focus
        border: 1px solid blue
        box-shadow: none

    .add-on
        border-radius: 0

    .datepicker td.day:hover
        background: lightorange

    .bootstrap-timepicker-widget table td a:hover
        background: lightorange
        border: 1px solid transparent

    #alarm-description-input
        font-size: 24px
        line-height: 40px
        height: 40px

    button.add-alarm.disabled
      border: 1px solid grey

    button.add-alarm
        float: left
        margin-top: 10px

    button.cancel
        margin-left: 5px
        margin-top: 10px

.dayprogram
  border-bottom: 1px solid rgba(0, 0, 0, 0.05)
  padding-bottom: 15px
  margin-bottom: 15px

  h2
    i
      margin-top 10px
      margin-left 10px
      display none
      cursor pointer
  &:hover h2 i
      display inline-block

  .alarms
    margin-top: 15px

    p
      line-height: 20px

      i
        margin: 3px 5px
        display: none
        line-height: 14px
        height: 14px
        cursor: pointer
      &:hover i
        display: inline-block

.dayprogram:nth-last-child(1)
  border-bottom: 0
  padding-bottom: 0

.public-event-container
    width: 100%

    h2
    h3
    h4
    p
    a
    body
        font-family: styled

    h3
        margin-top: 0

// #view-container
//     .popover
//         .arrow
//             box-shadow: none
//             left: -10px
//             border: 0


