/**
 * Vars
 */

blue = #34A6FF


/**
 * Date picker from bootstrap - override
 */

.datetimepicker
    font-family 'Source Sans Pro', sans-serif

.datetimepicker table tr td.active
.datetimepicker table tr td.active:hover
.datetimepicker table tr td.active.disabled
.datetimepicker table tr td.active.disabled:hover
    background-color blue !important
    background-image none
    text-shadow none
