.sidenav
    float: left
    left: 0
    top: 0
    width: 200px
    padding 0.5em 1em
    background: #F2F2F2
    border-right 1px solid #e2e2e2
    box-sizing border-box
    list-style-type: none
    text-align: left
    font-family: 'Source Sans Pro', sans-serif
    font-weight: normal

    a
        color: #333

        &:hover
            text-decoration: none
            background-color transparent

    li.active
        background: #AEDBFF

        a
            background: transparent
            display: inline-block

            &.calendar-add
                width 150px

    li.divider
        background-color transparent

        &:hover
            background-color transparent

    .calendars
        position relative
        display: block
        margin: 0
        padding: 0.5em 0
        cursor: pointer

        .title
            display flex
            justify-content space-between
            align-items center

        i
            margin-right: 10px

        .calendar-add
            font-size 1.4em
            text-shadow none
            color #bbb

            &:hover
                color #333

        .spinner
            margin-left 10px
            display none
            height 15px
            width 15px

    #multiple-actions
        padding 15px

        i
            cursor pointer
            margin-right 1em

            &.remove-cals
                &.hidden
                    opacity 0

        &.hidden
            opacity 0

    ul#menuitems
        margin-left 0.5em
        list-style none

        li.tagmenuitem
            margin-left 0
            padding 0.3em 0.8em

            .calendar-actions
                opacity 0
                margin 0 0.5em 0 0.5em
                &:checked
                    opacity 1
            i
                margin 0px

            .badge
                display inline-block
                position relative
                width 1em
                height 1em
                padding 0
                margin-right 0.8em
                border-radius 100%

            .calendar-name
                font-size 0.9em
                color #333

            input.calendar-name
                width 100px
                margin-bottom 0
                border-radius 0
                padding 2px 5px

            .dropdown
                display inline-block
                .dropdown-toggle
                    padding 0 5px
                    .caret
                        display none
                        margin-top 0 !important // overrides bootstrap
                        vertical-align middle
                        border-top-color #000
                        border-bottom-color #000
                        opacity 0.2
                        transform scale(1.5, 1.5)

                .dropdown-menu
                    padding 0.4em 0
                    border-color #ddd
                    shadow 0 5px 10px rgba(0,0,0,.15)

                    li
                        margin 0
                        padding 0

                        a
                            padding 0.5em 1em

                            &:hover
                                background #ffc47f


            &:hover
                .calendar-actions
                    opacity 1
                .dropdown .dropdown-toggle .caret
                    display inline-block

                    &:hover
                        opacity 1

ul#menu #menuitems li.tagmenuitem

    ul.dropdown-menu li:first-of-type
        &[data-picker-visible=true]:hover
            background white

            a:hover
                background white


    ul.color-picker
        list-style-type none
        padding 0
        margin 0
        width 100%
        text-align center

        li.color
            padding 0
            margin 0
            display inline-block
            width 25px
            height 25px

            margin-left 2px

            &:hover
                transform scale(1.1)
