ul#menu
  float: left
  left: 0
  top: 0
  width: 200px
  padding 0px
  list-style-type: none
  text-align: left
  background: #F2F2F2

  a
    color: #333
    padding 0px
    margin 0px
    font-family: styled
    font-weight: normal
    text-decoration: none

  a:hover
    text-decoration: none
    background-color transparent

  li.active
    background: #AEDBFF

  li.divider
    background-color transparent
    &:hover
      background-color transparent


  li
    display: block
    margin: 0
    padding: 10px 3px 10px 3px
    cursor: pointer

    i
        font-style: normal
        font-family: fontawesome
        margin-right: 10px
        margin-left: 10px

  li:hover
    background: #FFC47F
    text-decoration: none

  ul#menuitems
    margin-left 8px

  li.tagmenuitem
    i
      margin 0px
    .badge
      margin-right 10px
      border-radius: 3px



