ul#menu
  float: left
  left: 0
  top: 0
  width: 200px
  list-style-type: none
  text-align: left
  background: #F2F2F2

  a
    color: #333
    font-family: styled
    font-weight: normal
    text-decoration: none

  a:hover
    text-decoration: none

  a.active
      li
        background: #AEDBFF

  li
    display: block
    margin: 0
    padding: 10px 3px 10px 3px
    cursor: pointer

    i
        font-style: normal
        font-family: fontawesome
        margin-right: 10px
        margin-left: 10px

    .pull-right
        margin-right 5px

  li:hover
    background: #FFC47F
    text-decoration: none

  a.tagmenuitem
    li i
      margin 0px
    .badge
      margin-right 10px



