.is-mobile
    main
        margin-top 0

.fc .drawer-toggle
.drawer-toggle
    padding .75rem .875rem
    background-color grey-01
    border-top 0
    border-left 0
    border-bottom 0
    border-right 1px solid grey-03
    border-radius 0
    outline none
    color grey-05

    @media (min-width: (1023/16)rem)
        display none
