.popup
    position absolute
    background-color white
    z-index 2
    box-shadow:0 0 .5em rgba(0,0,0,.2)

    padding 1.5em
    font-size:small
    border-radius 1em

.event-sharings-button-item
    position relative
    line-height 1.5em
    margin-top 1em
    padding-bottom 1em
    border-bottom 1px solid lightgrey

    &:first-of-type
        margin-top 0

    &:last-of-type
        padding-bottom 0
        border-bottom none

    .sharer
        font-weight bold

    .desc
        color grey

    .actions
        color blue

        a
            cursor pointer
            font-size x-small
            font-weight bold
            text-transform uppercase

            &:focus,
            &:hover,
            &:active
                color darkblue
                text-decoration none

    // Alternate states
    .disabler,
    .spinner,
    .errors
        display none

    .disabler
        background-color rgba(255,255,255,0.75)

    &[aria-disabled],
    &[aria-busy]
        position relative

    &[aria-disabled] .disabler,
    &[aria-busy] .spinner
        display block
        position absolute
        top 0
        bottom 0
        left 0
        right 0

    &[aria-busy] .spinner
        display flex
        align-items center
        justify-content center

        img
            height 2em

    &[aria-invalid] .errors
        display block
        color red

