/**
 * Vars
 */
overlay-color = #F5F5F5
opacity-color = #C5C5C5
icon-color    = #333
input-color   = #555


//
// Styles for the calendar popover (event and alarm creation/edition)
// ----------------------------------------------------------------------------
// TODO: rebuild all styles with relative units. Need to revamp a whole bunch
//       of the app styles
.popover
    width: 25em
    max-width: none
    padding: 0
    font-family: 'Source Sans Pro', sans-serif

    label
    .label
        box-sizing border-box
        position relative
        margin 0
        padding 0
        background-color transparent
        border medium none
        border-radius 0

        .icon
            display flex
            justify-content center
            align-items center
            position absolute
            top 0
            width 3.2rem
            height 100%

            span
                font-size 1rem
                color #aaa
                text-shadow none

            &.right
                right 0

                span
                    font-size 2rem
                    color #ddd

    .label-row
        width         100%
        border-bottom 1px solid #ddd

        input[type=text]
            height 3em

        &.is-same-day input[type=text]
            height: 1.8em

        .button-full-block
            height 3em

    input
        box-sizing: border-box
        margin: 0px
        border: 1px solid white
        border-radius: 0
        box-shadow: none !important
        font-family: 'Source Sans Pro', sans-serif

        &[type=text]
            .input-time
                width: 4em
                text-align: right

            .input-date
                width: 8em

    .input-full-block
    .button-full-block
        width 100%
        padding 0 3em
        background-color transparent
        border none
        font-size 1rem
        text-align left

    .button-full-block
        font-family 'Source Sans Pro', sans-serif
        color #333
        line-height 0
        overflow auto
        text-overflow ellipsis

    .controls
        position absolute
        top 0
        right 0
        padding 0.2em

        [role=button]
        .remove-spinner
            box-sizing border-box
            display block
            width 2em
            height 1.5em
            padding 0 0.2em
            margin 0
            border-left 1px solid #e2e2e2
            font-size 1em
            cursor pointer

        .remove-spinner
            padding 0 0.5em

        button
            color icon-color
            opacity 0.7
            margin-right 5px
            border none
            font-size 0.8em
            background-color transparent

            &:hover
                opacity 1
                color orange

        .remove-spinner
            display none
            cursor wait

    [aria-hidden="true"]
        display none


.popover-title
    position relative
    padding 0
    background-color #fff
    border-bottom 1px solid #ddd
    font-size 1em

    .label
        width: 100%
        padding: 0

    .label + .label
        margin-top: 4px

    .calendar
        z-index 1
        position absolute
        top 50%
        margin-top -0.75em
        margin-left 1.2em

        .badge
            margin: 0

        .calendarcombo
            display: none

            &.expanded
                display: inline-block
                margin-left: 5px

    .input-desc
        width 100%
        padding 0 3em
        height 3em
        background-color transparent
        border none
        font-size: 1.6em


.popover-content
    padding 0

    .fixed-height
        height 24rem
        overflow scroll

    .caption
        display inline-block
        min-width 3em
        margin-left 3rem

    // Specific rules for elements
    .input-allday
        margin-right: 5px

    .aside
            float: right
            clear: none

    .end-date
        clear: none

        .caption
            min-width: inherit

    textarea
        box-sizing border-box
        margin 0
        padding 1em
        width 100%
        height 100%
        resize none
        background-color transparent
        border none
        box-shadow none
        font-size 1rem
        line-height 1.3rem


.popover-content-wrapper
    overflow hidden
    display flex
    align-items center
    padding 0

    .item-row
        width 75%
        padding .6em 0

        &:last-child
            width 25%

    .time-row
        display flex
        align-items baseline
        padding 0.2em 0
        font-size 1rem
        border-right 1px solid #eee

        input[type=text]
            font-size 1rem

    .all-day
        display flex
        align-items center
        justify-content center


.popover-footer
    display flex
    justify-content space-between
    align-items baseline
    flex-direction row-reverse
    padding 0.6em 0.8em
    background-color overlay-color
    border-radius 0 0 5px 5px

    [role=button]
        font-size: 0.95em

        &:hover
            text-decoration none

        &:focus
            color blue
            text-decoration none

    .icon
        display inline-block
        padding 0 0.9em 0 0.4em
        font-size 1rem

    .btn.add
        order 1

    .advanced-link
        order 2

.input-details-trigger
.input-place
    overflow      hidden
    text-overflow ellipsis

// header on secondary screen
.popover-back
    display flex
    justify-content space-between
    align-items center
    padding 0.8em 1.5em
    background-color #f5f5f5
    border-radius 5px 5px 0 0

    h4
        margin 0
        font-weight normal
        font-size 1.2em

        &:hover
            cursor default

    i
        width 3rem
        font-size 2rem
        line-height 0
        color #999

        &:hover
            cursor pointer
            color orange

    .btn-done
        width 3rem
        padding 0.4em 0
        background-color #bbb
        border-radius 3px
        line-height 1
        text-align center
        color #fff

        &:hover
            cursor pointer
            background-color orange

// select special
select.select-big
    margin-bottom 1.5em
    width         100%
    height        2.5rem
    border-color  #ccc
    font-size     1.1em

    &.with-margin
        margin 1.5em
        width         calc(100% - 3em)

// Guest screen
.guests-action
    display flex
    align-items center
    padding 1em 1.5em

    input[type=text]
        flex 1
        height 2.1em
        margin-right 0.5em
        border 1px solid #ddd
        font-size 1rem

    // Override bootrstrap style to prevent content from going out of the block.
    .dropdown-menu > li > a
        overflow hidden
        text-overflow ellipsis

ul.guests
    margin 0
    list-style-type none

    li
        padding 1em 1.5em
        border-top 1px solid #ddd
        line-height 1

        &:last-child
            border-bottom 1px solid #ddd

    .guest-top
        display flex
        align-items center

    .guest-top
        justify-content space-between

        button
            height auto
            border none
            background-color transparent
            font-size 1.2em
            color #bbb

            &:hover
                color orange

    .guest-label
        font-size 1.1em
        text-overflow ellipsis
        overflow hidden

// Alerts screen
ul.alerts
    margin 0
    list-style-type none

    li
        padding 1.5em
        border-bottom 1px solid #ddd
        line-height 1

        &:first-child
            border-top 1px solid #ddd

    .alert-top
    .type
    .notification-mode
        display flex
        align-items center

    .alert-top
        justify-content space-between

        button
            height auto
            border none
            background-color transparent
            font-size 1.2em
            color #bbb

            &:hover
                color orange

    .alert-timer
        font-size 1.4em

    .type
        margin-top 0.5em

        label
            padding 0 1.5em 0 0.5em
            color #999

        input[type=checkbox]
            flex none

// repeat screen
.repeat-screen
    box-sizing border-box
    padding    1.5em

    label
    .label
        width auto

    input.special
        margin-right 0.4em
        width        5rem
        height       2em
        border       1px solid #e5e5e5

    .inline-input
        display         flex
        justify-content flex-start
        align-items     center
        margin-bottom   1.4em

        label.inline-input
            margin-bottom   0.2em

            input.special
                margin-left 0.4em

    .first-input
        flex             none
        width            6rem
        text-transform   uppercase
        color            #999

        &.align-top
            align-self flex-start

    input[type="radio"],
    input[type="checkbox"]
        flex         none
        margin-right 0.5em

    .space-between
        display         flex
        align-items     center
        justify-content space-between
        width           100%

// delete screen
.delete-screen
    box-sizing border-box
    padding    1.5em

    .remove-choices
        text-align center

        .btn
            margin 0.5em
