/**
 * Vars
 */
overlay-color = #F5F5F5
opacity-color = #C5C5C5
icon-color    = #333
input-color   = #555


//
// Styles for the calendar popover (event and alarm creation/edition)
// ----------------------------------------------------------------------------
// TODO: rebuild all styles with relative units. Need to revamp a whole bunch
//       of the app styles
.popover
    width: 400px
    max-width: none
    padding: 0
    font-family: 'Maven Pro', sans-serif

    label
    .label
        box-sizing: border-box
        margin: 0
        padding: 5px 0 0
        background-color: transparent
        border: medium none

    input
        box-sizing: border-box
        margin: 0px
        border: 1px solid white
        border-radius: 0
        box-shadow: none !important

        &:hover
            border: 1px solid orange

        &:focus
            border: 1px solid blue

        &[type=text]
            width: 100%
            height: 1.8em

    input[type=text].input-time
        width: 4em
        text-align: right

    input[type=text].input-date
        width: 8em


    .controls
        position absolute
        top 14px
        right 10px

        [role=button]
        .remove-spinner
            display block
            float right
            clear right
            width 14px
            height 14px
            line-height 14px
            padding 0
            margin 0 5px 10px
            cursor pointer

        button
            color icon-color
            opacity 0.7
            margin-right 5px
            border none
            font-size 14px
            background-color transparent

            &:hover
                opacity 1
                color orange

        .remove-spinner
            display none
            cursor wait

.popover-title
    padding: 15px 0 10px
    background-color: white
    border-bottom: 1px solid overlay-color
    font-size: 18px

    .label
        width: 100%
        padding: 0 44px

    .label + .label
        margin-top: 4px

    .calendar
        position: absolute
        top: 20px    // vertical badge alignment with desc input
        left: 20px

        .badge
            margin: 0

        .calendarcombo
            display: none

            &.expanded
                display: inline-block
                margin-left: 5px

    .input-desc
        font-size: 1.4em


.popover-content
    padding: 0

    label
        float: left
        clear: left
        display: flex
        align-items: baseline

    .caption
        display: inline-block
        min-width: 3em

    // Specific rules for elements
    .input-allday
        margin-right: 5px

    .aside
            float: right
            clear: none

    .end-date
        clear: none

        .caption
            min-width: inherit


.popover-content-wrapper
    padding: 10px 20px
    overflow: hidden

    &.is-same-day .end-date
    &.is-same-day .end-date input
        color: opacity-color

        &:hover
        &:focus
            color: input-color

    &.is-all-day .end-date
    &.is-all-day .end-date input
        color: input-color


.popover-footer
    padding: 10px 12px
    background-color: overlay-color
    border-top: 1px solid #ddd;
    box-shadow: inset 0 1px 0 #ffffff;
    border-radius: 0 0 5px 5px
    display: flex
    justify-content: flex-end
    align-items: baseline

    [role=button]
        margin-left: 1em
        font-size: 0.85em

