@media(max-width: (1200/16)rem)

    #alarms, #alarm-list
        width: 100%
        padding: 0
        box-sizing: border-box

    #add-new-event

        .popover
            position absolute
            top 0!important
            left 0!important
            bottom 0!important
            right 0!important

            max-width 100%

            box-shadow none
            border none
            margin 0

            h4
                font-size 1em

            .popover-back
                padding 0

                .btn-back
                    padding 0.4em 1em
                    i
                        line-height 1

                .btn-done-placeholder
                    text-align left

    #view-container
        padding: 0

        .container:before
        .container:after
            display: block


    #input-time
    #input-timezone
    #action
    #date-control
        display: block
        margin-bottom: 10px


///////////////////////////////////////
///////////////////////////////////////
@media (max-width: (1023/16)rem)
    #alarms
        .fc-day-header
            font-size: 12px
            text-align: center
            padding-left: 5px

    #alarm-list
        h2
            font-size: 22px

    aside.drawer
        li
            display: inline-block

        #import-menu-button, span
            display: block

        .calendars
            padding .4em 0

        .calendar-add
            display none

        .btn:last-child
            display flex
            align-items center

    main
        margin-left 0
        box-shadow 0 0 24px 6px rgba(50,54,63,.15)

    #alarms
        .fc-day-header
            font-size: 12px

        .fc-button-today
            display: none

        td.fc-header-right
            span
                display: none

        .fc-event-title
            // display: none
            white-space nowrap

        .fc-border-separate
            width: 100%

        .fc-day-number
            font-size: 12px

    // List view tweaks.
    li.tagmenuitem
        .dropdown
            display: none !important

    #cal-header
        display: none


    #list-container
        position inherit
        padding-top 0
        padding-bottom 1em

    .btn.stick-bottom
        display none        // hide settings button on mobile

    .showafter
    .showbefore
    .addNewEvent
        display block
        box-sizing border-box
        width 100%
        padding 0.4em


    .fc-header .btn-group > .btn.fc-state-active.title
        min-width inherit

    .fc-header-left,
    .fc-header-right
        display none

    .fc-header-name
        display block
        width 100%
        padding-right 2.75rem
        text-align center


///////////////////////////////////////
///////////////////////////////////////
@media (max-width: (767/16)rem)
    .fc-header
        padding 0

        .btn-group
            font-size inherit

    #alarms

        .fc-day-header
            font-size: 10px

        .popover
            width: auto
            position: absolute
            min-width: 320px
            top: 0
            left: 0

            input
                width: 90%

            button
                display: block

    #list-container
        position inherit
        top 0
        margin-bottom 0
        padding-bottom 1em
