@media(max-width: 1000px)

    #alarms, #alarm-list
        width: 100%
        margin: 0px
        padding: 5px
        box-sizing: border-box

        .fc-header-title
            h2
                font-size: 16px

    #view-container
        padding: 0

        .container:before
        .container:after
            display: block


    #input-time
    #input-timezone
    #action
    #date-control
        display: block
        margin-bottom: 10px

@media(max-width: 700px)
    #alarms
        .fc-day-header
            font-size: 12px
            text-align: center
            padding-left: 5px

    #alarm-list
        h2
            font-size: 22px


@media(max-width: 600px)
    ul#menu
        height: 40px
        width: 100%
        float: none
        position: absolute
        top: 0
        left: 0
        margin: 0

        li
            display: inline-block

        #import-menu-button, span
            display: none

        li.calendars
            float right

        ul#menuitems
            display none
            &.visible
                display block
            position absolute
            margin 0px
            top 40px
            right 0px
            z-index 1050
            background-color inherit
            li
                display list-item
                list-style-type none
            span
                display inline

    .main-container
        margin-left: 0
        margin-top: 40px

    #alarms
        .fc-day-header
            font-size: 10px

        .fc-button-today
            display: none

        td.fc-header-right
            span
                display: none

        .fc-event-title
            display: none

        .fc-border-separate
            width: 100%

@media(max-width: 500px)
    #alarms
        .popover
            width: 310px

            input
                width: 260px

            button
                display: block
