// nib is a powerful lib for stylus that provides cross-browser css3 mixins.
@import 'nib'

@import '_base'
@import '_cozy'
@import '_ui'
@import '_menu'
@import '_calendar'
@import '_states'
@import '_layout'


#view-container
    border-bottom: 0

.addform
  #date-control
    display: inline-block

  #add-alarm
    margin-bottom: 0

#alarms
  box-sizing: border-box
  margin 0px
  border-bottom 0px
  border-top 0px

#action
    width: 110px

#alarm-list
    width: auto
    div
        width: auto
    h2
        font-weight: normal

    div
        font-family: main

    .badge
        margin-right 5px

.active.btn
    background: blue - 20%
    box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.0)
    cursor: default

#import-form
    margin: 0
    padding-left: 0px

    h1
    h3
        font-weight: normal

    #import-button
        position relative
        overflow hidden
        input
            opacity 0.01
            cursor pointer
            position absolute
            left 0px
            border 0px
            font-size 100px
            bottom 0px
            margin 0px
            width 100%
            height 100%

    #import-alarm-list
        margin-top: 20px

    .alarm
        p
            margin: 0
            font-weight: 10px

    .event
        p
            margin: 0
            sharefont-weight: 10px

@import '_responsive'
