// nib is a powerful lib for stylus that provides cross-browser css3 mixins.
@import 'nib'

@import '_base'
@import '_cozy'
@import '_ui'
@import '_menu'
@import '_calendar'
@import '_popover'
@import '_states'
@import '_layout'


h2
h3
    font-weight: normal

.mt1
    margin-top: 10px

.mt2
    margin-top: 20px

.mt3
    margin-top: 30px

.mb2
    margin-bottom: 20px

.main-container
    height: 100%
    position: relative

#view-container
    border-bottom: 0
    height: 100%


.addform
  #date-control
    display: inline-block

  #add-alarm
    margin-bottom: 0

#alarms
  box-sizing: border-box
  margin 0px
  border-bottom 0px
  border-top 0px

#action
    width: 110px

#list-container
    position: absolute
    overflow-y: auto
    left: 0
    right: 0
    top: 57px
    bottom: 0
    margin: 0

#alarm-list
    width: auto
    div
        width: auto
    h2
        font-weight: normal

    div
        font-family: 'Source Sans Pro', sans-serif

    .badge
        flex none
        margin-right 0.8em
        padding 0
        width 1.2rem
        height 1.2rem
        border-radius 100%

.active.btn
    background: blue - 20%
    box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.0)
    cursor: default

#import-form
    margin: 0
    padding-left: 0
    padding-top: 0

    h1
    h3
        font-weight: normal

    #confirm-import-button
        margin-right: 10px

    #import-button
        position relative
        overflow hidden
        input
            opacity 0.01
            cursor pointer
            position absolute
            left 0px
            border 0px
            font-size 100px
            bottom 0px
            margin 0px
            width 100%
            height 100%

    #import-alarm-list
        margin-top: 20px

    .alarm
        p
            margin: 0
            font-weight: 10px

    .event
        p
            margin: 0
            sharefont-weight: 10px

#show-password
#hide-password
  margin-left 5px

#hide-password
  display none

// 404 page (not found)

body.error-404
  background #fff

body.error-404 .container
  display table
  overflow hidden
  position relative
  height 100%
  margin auto

body.error-404 .row
  display table-cell
  vertical-align middle

body.error-404 .error-frame
  padding 80px 40px
  background #fff
  border 10px solid blue
  font-size 25px
  text-align center

  .headline
    margin-bottom 50px
    font-size 30px
    color blue

@import '_responsive'
