// nib is a powerful lib for stylus that provides cross-browser css3 mixins.
@import 'nib'

@import '_base'
@import '_ui'

// Import your styles here

@import '_states'
@import '_layout'
@import '_responsive'

#add-alarm
  margin-bottom: 0

h1
  margin-top: 15px
  margin-bottom: 25px
  font-size: 36px

.form-horizontal
  margin-bottom: 0 !important

  .control-label
    font-size: 13px
    width: 100px
  .controls
    margin-left: 120px

    .add-on i
        margin-top: 2px !important

#add-alarms
  i
    margin-top: 2px

input[type="date"]
  width: 150px
input[type="time"]
  width: 75px

.dayprogram
  border-bottom: 1px solid rgba(0, 0, 0, 0.05)
  padding-bottom: 15px
  margin-bottom: 15px

  .alarms
    margin-top: 15px

    p
      line-height: 20px
      i
        margin: 3px 5px
        display: none
        line-height: 14px
        height: 14px
        cursor: pointer

.dayprogram:nth-last-child(1)
  border-bottom: 0
  padding-bottom: 0

.affix
  position: fixed
  top: 0px
  width: 940px
  margin: auto
  > div
    border-width: 5px
    border-radius: 0