@import 'nib'

@import '_base'
@import '_ui'

/* Styles for the calendar view */
.popover
    max-width: none
    width: 400px


    .timeseparator
        display inline-block
        margin-bottom 10px
        vertical-align middle
    #input-place
        min-width: 120px

    .popover-title
        button
            margin-top: -4px
        i.remove
            cursor: pointer

    .popover-content

        #input-start, #input-end, #input-time
            width 3em
        #input-diff
            width 35px

        button
            margin-left: 5px
            &.disabled
                border: 1px solid grey
                &:hover
                    background: #e6e6e6
                    color: #333
        p
            font-size: 12px
            margin-left: 5px

        a
            font-size 12px



/* Styles for the fullcalendar plugin */
.fc-button-prev, .fc-button-next, .fc-button-today,
.fc-button-month, .fc-button-week, .fc-button-agendaWeek
.fc-button-day, .fc-button-agendaDay
    background: blue
    color: #FFF
    box-shadow: none
    text-shadow: none
    border-radius: 0
    border: 0
    padding-bottom: 3px
    font-family: main

    &:hover
        background: orange
        &.fc-state-disabled
            background: blue

    &:active
        background: orange - 3%
        box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.2) inset

    &.fc-state-active
        box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.2) inset
        background: blue - 20%
        cursor: default

.fc-content

    thead
        background: blue
        color: #fff

        tr
            th
                height: 30px
                line-height: 30px
                border: none

                &:first-child
                    border-radius 10px    0 0 0
                &:last-child
                    border-radius 0 10px 0 0

    tbody
            .fc-state-highlight
                background: lightblue

    .fc-event-inner .fc-event-time
        &.spinning
            display: inline-block
            margin: 3px

.fc-cell-overlay
    background: green


.fc-header
    cursor: default

.fc-header-title
    h2
        font-weight: normal

.fc-title, .fc-content
    thead
    thead > tr.fc-first
    .fc-day-header
    .fc-widget-header
        font-family: styled
        background: greyblue
        background: white
        border-radius: 0
        color: black
        cursor: default
        font-weight: normal

.fc-agenda-axis
    background: white
    color: darkgrey

.fc-agenda-axis.fc-first
    background: greyblue
    background: white
    border-radius: 0
    color: white

.fc-day-number
    font-family: styled

.fc-event-inner
    border: 0
    border-radius: 0
    color: white
    font-family: main

.fc-day:hover
    background orange + 80%

.alarm-remove
    cursor: pointer

.event-remove
    cursor: pointer

.fc-widget-content
.fc-cell-overlay
    cursor: pointer

.fc-view
    overflow: visible

#viewContainer .fc-content .fc-cell-overlay
    background #CBE4FB

#viewContainer .fc-content tbody .fc-state-highlight
    background #CCF0CC

#viewContainer .fc-event-inner:hover
    color: white
    background: orange
    border: 0

#alarms
    thead
        .fc-first
            .fc-day-header
            .fc-widget-header
                border-bottom: 1px solid #DDD
