@import 'nib'

@import '_base'
@import '_ui'

/* Styles for the calendar view */
.popover
    max-width: none
    width: 400px


    .timeseparator
        display inline-block
        margin-bottom 10px
        vertical-align middle
    #input-place
        min-width: 120px

    .popover-title
        button
            margin-top: -4px
        i.remove
            cursor: pointer

    .popover-content

        #input-start, #input-end, #input-time
            width 3em
        #input-diff
            width 35px

        button
            margin-left: 5px
            &.disabled
                border: 1px solid grey
                &:hover
                    background: #e6e6e6
                    color: #333
        p
            font-size: 12px
            margin-left: 5px

        a
            font-size 12px



/* Styles for the fullcalendar plugin */
.fc-button-prev, .fc-button-next, .fc-button-today,
.fc-button-month, .fc-button-week, .fc-button-agendaWeek
.fc-button-day, .fc-button-agendaDay
    background: blue
    color: #FFF
    box-shadow: none
    text-shadow: none
    border-radius: 0
    border: 0
    padding-bottom: 3px
    font-family: main

    &:hover
        background: orange
        &.fc-state-disabled
            background: blue

    &.fc-state-active
        background: blue - 20%

.fc-content

    thead
        background: blue
        color: #fff

        tr
            th
                height: 30px
                line-height: 30px
                border: none

                &:first-child
                    border-radius 10px    0 0 0
                &:last-child
                    border-radius 0 10px 0 0

    tbody
            .fc-state-highlight
                background: lightblue

    .fc-event-inner .fc-event-time
        &.spinning
            display: inline-block
            margin: 3px

.fc-cell-overlay
    background: green

thead
thead > tr.fc-first
.fc-day-header
.fc-widget-header
    font-family: main
    background: greyblue
    border-radius: 0
    color: white

.fc-agenda-axis
    background: white
    color: darkgrey

.fc-agenda-axis.fc-first
    background: greyblue
    border-radius: 0
    color: white

.fc-event-inner
    border: 0
    border-radius: 0

.alarm-remove
    cursor: pointer

.event-remove
    cursor: pointer

.fc-widget-content
.fc-cell-overlay
    cursor: pointer
.fc-widget-content
.fc-cell-overlay
    cursor: pointer

.fc-view
    overflow: visible
