doctype
html
  head
    title 404 - Événement non trouvé
    link(rel="stylesheet", type="text/css", href="stylesheets/app.css", media="all")

  body.error-404
    .container
      .row
        .col-lg-12.error-frame
          p.headline Cet événement n'est pas accessible
          p Il n'existe pas
          p ou
          p Vous n'y êtes pas convié ;)
