.fixed-height.delete-screen

    p You are about to delete this event. Are you sure?
    img.remove-spinner(src='img/spinner.svg')
    p.errors
    .remove-choices
        button.btn.answer-yes Yes
        button.btn.answer-no No
