.fixed-height.delete-screen

    p=t('screen duplicate description')
    .remove-choices.button-group
        button.btn.secondary.answer-no=t('screen duplicate no button')
        button.btn.danger.answer-yes(autofocus)=t('screen duplicate yes button')
