.fixed-height

    .guests-action
        input(type="text", name="guest-name", placeholder=t('screen guest input placeholder'), autofocus)
        button.btn.add-new-guest=t('screen guest add button')

    ul.guests
