.is-mobile
    .sidenav
        border-right none

    ul#menu
        height auto
        max-width 50%
        z-index 2

        ul#menuitems
            width 100vw

    .main-container
        margin-top 0
