.popup
    position absolute
    background-color white
    z-index 2
    box-shadow:0 0 .5em rgba(0,0,0,.2)

    padding 1.5em
    font-size:small
    border-radius 1em

.event-sharings-button-item
    line-height 1.5em
    margin-top 1em
    padding-bottom 1em
    border-bottom 1px solid lightgrey

    &:first-of-type
        margin-top 0

    &:last-of-type
        padding-bottom 0
        border-bottom none

    .sharer
        font-weight bold

    .desc
        color grey

    .actions
        color blue

        a
            cursor pointer
            font-size x-small
            font-weight bold
            text-transform uppercase

            &:focus,
            &:hover,
            &:active
                color darkblue
                text-decoration none

