.form-horizontal.well
  .control-group
    label.control-label(for="inputDesc") Description
    .controls
      input.input-block-level(type="text", id="inputDesc", placeholder="What should I remind you ?")
  #add-alarms
  button.btn.pull-right.disabled.add-reminder Add the reminder
  .clearfix
