div
    input.input-small(type="text", value="#{defaultTime}", id="input-time")
    input.input(type="text", value="#{defaultValue}", id="input-desc", placeholder=t("What do you want to be reminded ?"))
div
    button.btn.add 
        =t('Edit')
