div
    input.input-xlarge(type="text", value="#{defaultValue}", id="inputDesc", placeholder=t("What do you want to be reminded ?"))
    button.btn.pull-right.add-alarm.disabled
        if editionMode
            = t('Edit')
        else
            = t('Add')
    unless editionMode
        p= t('ie: 9:00 important meeting')
        button.btn.add-event= t('Create Event')