.container
    ul#menu
        li
            a.btn(href="#list")
                i.icon-th-list.icon-white
                = t('List')
            a.active.btn(href="#calendar")
                i.icon-calendar.icon-white
                = t('Calendar')
            a.btn(href="export/calendar.ics", target="_blank")
                i.icon-share.icon-white
                = t('Export')
            a.btn(href="#import")
                i.icon-circle-arrow-up.icon-white
                = t('Import')
    #alarms.well
