.container
    ul#menu
        li
            a.btn(href="#list")= t('Switch to List')
            a.btn(href="export/calendar.ics", target="_blank")
                i.icon-arrow-down.icon-white
            a.btn(href="#import")
                i.icon-arrow-up.icon-white

    #alarms.well
