.container
  ul#menu
    li
      a.btn(href="#list") Switch to List

  #calendar-nav
    span#current-month
    span#current-year

    nav
      span#prev-month
      span#next-month
      span#go-today

  #alarms
