p
    if model.status == 'ACCEPTED'
        i.fa.fa-check-circle-o.green
    else if model.status == 'DECLINED'
        i.fa.fa-times-circle-o.red
    else if model.status == 'NEED-ACTION'
        i.fa.fa-exclamation-circle.blue

    |  #{model.email} 

    a.remove-guest.fa.fa-trash(title="#{t('cancel Invitation')}")
