.container
    ul#menu
        li
            a.btn(href="#list") Switch to List
            a.btn(href="#calendar") Switch to Calendar
            a.btn(href="export/calendar.ics", target="_blank") 
                i.icon-arrow-down.icon-white

    #import-form.well
        h3 Icalendar importer

        div
            button.btn import your icalendar file
            input#import-file-input(type="file")
        div

        h4 Alarms to import
        #import-alarm-list

        h4 Events to import
        #import-event-list
