.container
  ul#menu
    li
      a.btn(href="#calendar") Switch to calendar
      a.btn(href="export/calendar.ics", target="_blank") 
          i.icon-arrow-down.icon-white

  .addform
    #add-alarm.container

  #alarms.well
