.container
    ul#menu
        li
            a.active.btn(href="#list")
                i.icon-th-list.icon-white
                span 
                    = t('List')
            a.btn(href="#calendar")
                i.icon-calendar.icon-white
                span
                    = t('Calendar')
            a.btn(href="export/calendar.ics", target="_blank")
                i.icon-share.icon-white
                span
                    = t('Export')
            a#import-menu-button.btn(href="#import")
                i.icon-circle-arrow-up.icon-white
                span
                    = t('Import')
    .addform
        #add-alarm.container

    #alarm-list.well
