#calheader.well.fc-ltr
#add-new-event
#list-container.well.fc-row
  a.btn.addNewEvent= t('display event')
  a.btn.showbefore= t('display previous events')
  #alarm-list
  a.btn.showafter= t('display next events')
