li
    a(href="#sync")
        i.fa.fa-refresh
        span
            = t('Sync')

li.calendars
    a(href="#calendar")
        i.fa.fa-calendar
        span
            = t('Calendar')
        .dropdown
            a#dLabel_.dropdown-toggle(data-toggle="dropdown")
                span.caret
            ul.dropdown-menu(aria-labelledBy='dLabel_')
                li
                    a.calendar-add= t('add calendar')

ul#menuitems
