a(href="#calendar")
    li
        i.fa-calendar
        span
            = t('Calendar')
a(href="#list")
    li
        i.fa-list
        span
            = t('List')
a#import-menu-button(href="#import")
    li
        i.fa-chevron-circle-up
        span
            = t('Import')
a(href="export/calendar.ics", target="_blank")
    li
        i.fa-share
        span
            = t('Export')
