li
    a(href="#sync")
        i.fa.fa-refresh
        span
            = t('Sync')

li.calendars
    a(href="#calendar")
        i.fa.fa-calendar
        span= t('Calendar')
        span.fa.fa-plus.calendar-add
        img.spinner(src="img/spinner.svg")

ul#menuitems

#multiple-actions.hidden
    p
        button.remove-cals.btn.btn-cozy(title=t('delete'), role="button")=t('delete')
    p
        button.export-cals.btn.btn-cozy(title=t('export'), role="button")=t('export')
