li
    a(href="#sync")
        i.fa.fa-refresh
        span
            = t('Sync')

li.calendars
    a(href="#calendar")
        i.fa.fa-calendar
        span= t('Calendar')
        span.fa.fa-plus.calendar-add
        img.spinner(src="img/spinner.svg")

ul#menuitems
