li
    a(href="#sync")
        i.fa.fa-refresh
        span
            = t('Sync')

li.calendars
    a(href="#calendar")
        i.fa.fa-calendar
        span= t('Calendar')
        span.fa.fa-plus.calendar-add
        img.spinner(src="img/spinner.svg")

ul#menuitems

#multiple-actions.hidden
    hr
    p
        = t('multiple actions')
    i.remove-cals.fa.fa-trash(title=t('delete'), role="button")
    i.export-cals.fa.fa-external-link(title=t('export'), role="button")
