li.calendars
    .title(href="#calendar")
        span.fa.fa-bars.menu-icon
        span= t('calendar list title')
        span.main-spinner
            img(src="img/spinner.svg")
        span.fa.fa-plus-square-o.calendar-add(title=t("add calendar"))

ul#menuitems


