.calendars
    a.title(href="#calendar")
        .title-items
            i.fa.fa-calendar
            span= t('Calendar')
        .title-items
            span.fa.fa-plus-circle.calendar-add

ul#menuitems

a.btn.btn-full.btn-secondary(href="#sync")
    i.fa.fa-refresh
    span
        = t('Synchronization')

