li
    a#import-menu-button(href="#import")
        i.fa-chevron-circle-up
        span
            = t('Import')
li
    a(href="export/calendar.ics", target="_blank")
        i.fa-share
        span
            = t('Export')

li
    a(href="#sync")
        i.fa-refresh
        span
            = t('Sync')

li.calendars
    a(href="#calendar")
        i.fa-calendar
        span
            = t('Calendar')

ul#menuitems