- back = visible?color:"transparent"
- border = visible?"transparent":color
span.badge
    | &nbsp;
    span.spinHolder &nbsp;
span.calendar-name=label
.dropdown
    a#dLabel.dropdown-toggle(data-toggle="dropdown")
        span.caret
    ul.dropdown-menu(aria-labelledBy='dLabel')
        li.color-picker
            .track(style="display: block;")
        li
            a.calendar-rename= t('rename')
        li
            a.calendar-remove= t('delete')
        li
            a.calendar-export= t('export')
