ul.alerts

select.new-alert
    option(value="-1", selected="true") Add a new alert
    each alertOption in alertOptions
        option(value=alertOption.index)= t(alertOption.translationKey, {smart_count: alertOption.value})
    
