.helptext
    h2 Calendar Synchronization
.helptext
    | To synchronize your calendar with your devices, you must follow two
    | steps:
    ul
        li 1. Install the webdav module from the Cozy App Store
        li 2. Connect to it and follow the instructions related to CalDAV.
