.helptext
    h2= t('synchronization')

.helptext
    h3= t('mobile sync')
    p
      = t('to sync your cal with') 
    ol
        li
            = t('install the webdav module') 
        li 
            = t('connect to it and follow') 

.helptext
    h3= t('icalendar export')
    p
      = t('download a copy of your calendar') 
    p
      a.btn(href="export/calendar.ics") Export your calendar

.helptext
    h3= t('icalendar import')

    #importviewplaceholder
